@charset "UTF-8";

#ContactCard{



    padding: 1rem;
    border-radius: .5rem;

    display: flex;
    align-items: center;

    margin: 0 0 .5rem 0;



  

    #Adress{
        display: flex;
        flex-direction: column;
        word-break: break-all;
    }
}


.just-a-margin{
    margin: 0 1rem 0 0;
}




