
.Techs{


    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid rgba(white, .3);

    background: linear-gradient(135deg, #000000, #100e15, #000000, #100e15, #100e15);

    &:hover{
        background: linear-gradient(135deg, #000000, #100e15, #000000);

    }
}

