@charset "UTF-8";

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

#animu {
      border-radius: .25rem;
      left: 0;
      margin: 0;

}


body {
      background-color:#100E15;
      color: #d3d3d3;
      -webkit-text-size-adjust: 100%;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      display: flex;
      word-break: break-word;
}

body::-webkit-scrollbar {
      width: 10px
} 
    
body::-webkit-scrollbar-thumb {   
      background-color: darkgrey;   
}                

body{
      animation: init-background 2s ease;
}

a, span{
      animation: rest 1s linear;
}


@keyframes init-background {
      0%{
            display: none;
            background-color: #d3d3d3;
            color: #d3d3d3;
            
      } 
}

@keyframes rest {
      0%{
            color: #d3d3d3;
      }
}

main{

      width: 100%;
}

#main-container{
      margin: 3.6rem 20rem;
      width: 100%;  
}

.block{
      margin-top: 3rem;
      width: 100%;
}

a{
      color: #2563eb;
      text-decoration: none;
}

.stack{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.stack a{
      text-decoration: none;
      color: whitesmoke;
      background-color: #1F2937;
      border: #00000011 0.03rem solid;
      border-radius: .3rem;
      padding: .5rem;

}

h1{

      font-size: 3em;
      font-weight: 700;
      line-height: 2.9rem;
      margin-top: 1rem;

      white-space: nowrap;
    
}

h1 .gradient{
      background: -webkit-linear-gradient(180deg, #1054e7, #1054e7,#3c71e2, #1054e7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      margin: 0;
      display: inline-block;

}

h2{
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 1rem;
}

p{
      font-size: 1.15rem;
      line-height: 1.9rem;
}

.p-title{
      font-size: 1.9rem;
}

svg{
      margin: 10.4px 0;
}

.icons{
      display: flex;
      align-items: center;
      

}

.header-icons{
      display: flex;
      align-items: center;
      
      margin-bottom: 1rem;
      
}

.header-icons #localization{
      background-color: #374151;
      color: #d3d3d3;
      border-radius: 2rem;

      padding: 0 1rem 0 1rem;

      display: flex;
      align-items: center;
      height: 2rem;
      transition: .3s;

}

.header-icons #localization p{
      margin-left: .4rem;
      font-size: 12pt;
}

.header-icons #localization:hover{
      background-color: #1F2937;
      transition: .3s;
}


/* NAV */

header nav{
      margin: 0rem 0 3.5rem 0;
      border-radius: .4rem;
      width: 100%;
      display: flex;
}

header nav ul{
      margin: .2rem 0 .2rem 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: white;
}


header nav ul li{
      padding: .3rem 1rem .3rem 1rem;
      border-radius: 1rem;
}

header nav ul li:hover{
      background-color: #181b20;
}

header nav ul li a{
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
}

#btn-menu-mobile{
      display: none;
      background-color: #00000000;
      border: none;
      outline: none;
      height: 2.7rem;
      padding: 0 0 0 .3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

@media only screen and (max-width: 600px) {
      h1{
            font-size: 2.6em;  
      }
      #main-container{
            margin: 2rem 1rem ;
      }
}



@media only screen and (max-width: 1200px) {
      h1{
            font-size: 2.6em;  
      }
      #main-container{
            margin: 4rem 1.5rem;
      }   
}


@media only screen and (max-width: 700px) {
      span.gradient{
            display: block;
            margin-top: 5px;
      }
      h1{
            font-size: 2.6em;
            display: block;
            display: flex;
            flex-direction: column; 
            text-align: left;      
      }
      #main{
            margin: 4rem 2rem;
      }
      nav{
            margin: 1rem 0 1rem 0 !important;
      }
      header nav ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            color: white;
      }
      header nav ul li a{

            font-size: 24px;

            margin: .5rem 0 .5rem 0;

            text-decoration: none;
            color: white;
      }
}
